# Archivos de compilación
/target/
*.class

# Archivos del IDE (Eclipse, IntelliJ, VSCode, NetBeans)
*.iml
.idea/
.vscode/
.nb-gradle/
*.log

# Archivos temporales
*.tmp
*.bak
*.swp

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de entorno
.env

# Maven y Gradle
.mvn/
.gradle/
build/
